<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Verify your email</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #fff;
      }
      .container {
        width: 90%;
        margin: 0 auto;
        background-color: #f1f1f1;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      }
      h1 {
        color: #3A1C61;
        font-size: 1.5rem;
      }
      p {
        color: #333;
        font-size: 1rem;
        letter-spacing: .6px;
        font-weight: 500;
      }
      a {
        width: max-content;
        background-color: #007bff;
        border: none;
        color: #fff !important;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        display: block;
        cursor: pointer;
        text-decoration: none;
      }
      a:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <h1>Verify Your Account with Bloonsoo</h1>

        <p>
            Thank you for registering with Bloonsoo. To complete your registration and start using our services, please verify your account by clicking on the following link:
        </p>

        <a href="<%= verifyUrl %>" target="_blank">Verify email</a>
        <!-- <form action="<%= verifyUrl %>" method="post">
            <button type="submit">Verify email</button>
        </form> -->

        <p>If you did not register for Bloonsoo, please ignore this email.</p>
        
        <!-- <p>If you have any questions or concerns, please contact our customer support team at support@bloonsoo.com</p> -->

        <p>Thank you for choosing Bloonsoo. We look forward to serving you!</p> 

        <p>Best regards,</p> 
        <p>The Bloonsoo Team</p>

    </div>
  </body>
</html>